<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>
  <%= render 'likes/button', likeable: post %>
  <p>
    <strong>Comments:</strong>
    <%= render post.comments.top_level  %>
    <%= render "comments/form", post: post, parent: nil %>
  </p>
</div>
<p>
  <%= link_to "Show this post", post %>
</p>
